$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);
$blue: hsl(248, 32%, 49%);
$dark-blue: hsl(249, 10%, 26%) ;
$grayish-blue: hsl(246, 25%, 77%);
$desktop-width: 1440px;
$mobile-width: 375px;




body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-width: fit-content;
    max-width: $desktop-width;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
    background-color: $red;
}


.words {
    margin-top: 15rem;
    margin-left: 5rem;
    float: left;
    width: 500px;
    max-width: 100%;
}


h1 {
    color: white;
    font-weight: 700;
    font-size: 3rem;
    line-height: 1.25;
}


p {
    color: white;
    font-weight: 400;
    font-size: 1rem;
    width: 650px;
    max-width: 100%;  
}


.formBox {
    margin-right: 5rem;
    float: right;
    margin-top: 5%;
    width: 525px;
    max-width: 100%;
    margin-bottom: 5%;
    .banner {
        color: white;
        background-color: $blue;
        position: relative;
        width: 525px;
        max-width: 100%;
        text-align: center;
        height: 57px;
        border-radius: 10px;
        line-height: 3;
        box-shadow: 0px 6px 0px hsla(249, 10%, 26%, .5) ;
        
        #span1 {
            font-weight: 400;
        }
    }

    form {
        width: 525px;
        max-width: 100%;
        position: relative;
        padding-top: 2rem;
        padding-bottom: 2rem;
        float: right;
        border-radius: 10px;
        background-color: white;
        box-shadow: 0px 6px 0px hsla(249, 10%, 26%, .5) ;
    }
    input {
        margin: 0 auto;
        margin-left: 2.30rem;
        width: 450px;
        border-radius: 10px;
        border: 1px solid silver;
        max-width: 100%;
        height: 52px;
    }



    p {
        opacity: 0;
        color: red;
        font-size: .75rem;
        text-align: right;
        margin: 1rem 4rem 1rem -4rem;
    }



.error {
    input {
        background: url(./images/icon-error.svg) no-repeat scroll 95%;
        border: 2px solid $red;
    }
  
    
    
    
    p {
        opacity: 1;
        display: block;
    }
    
    
    
 }

 input::placeholder {
    padding-left: 2.5rem;
    font-size: .9rem;
    color: $dark-blue;
    font-weight: 500;
}
 
 
.terms {
    display: flex;
    margin: 0 auto;
    opacity: .5;
    color: $grayish-blue;
    font-weight: 500;
    font-size: .75rem;
    justify-content: center;
    padding-top: 1.5rem;
}

#span2 {
    color: $red;
}
button {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.25rem;
    margin-left: 2.30rem;
    width: 450px;
    max-width: 100%;
    color: white;
    background-color: $green;
    height: 54px;
    box-shadow: inset 0px -5px 0px 0px hsla(249, 10%, 26%, .25);
    border-radius: 10px;
    border: 1px solid silver;
    text-align: center;
}

button:hover {
    background-color: hsla(154, 59%, 51%, .75);
    box-shadow: inset 0px -5px 0px 0px hsla(249, 10%, 26%, .05);
    cursor: pointer;
}

}



@media only screen and (max-width: 1250px) {
  .words {
      margin-left: 0;
      transform: scale(.9);
  }
  .formBox {
      transform: scale(.9);
  }
}

@media only screen and (max-width: 1106px) {
    .words {
      margin: 10rem auto;
    }
    .formBox {
        margin: 5rem auto;
    }
}

@media only screen and (max-width: 1027px) {
    .words {
       
        margin: 5rem 10rem;
    }
    .formBox {
        
       margin: 0 10rem;
       float: left;
    }

}

@media only screen and (max-width: 810px) {
    .words {
        margin: 5rem 5rem;
    }
    .formBox {
       margin: 0 5rem;
       
    }
}


@media only screen and (max-width: 660px) {
    .words {
        margin: 2rem 3rem;
        transform: scale(.7);
    }
    .formBox {
       margin: -2rem 2.5rem;
       transform: scale(.7);
       
    }
}

@media only screen and (max-width: 600px) {
    .words {
       margin-bottom: -4rem;
       margin-left: .5rem;
        transform: scale(.6);
    }
    .formBox {
        margin-left: .5rem;
       transform: scale(.6);
       
    }
}

@media only screen and (max-width: 500px) {

  body {
      max-width: $mobile-width;
      margin: 0 auto;
  }

  .words {
    margin: 0 auto;
    max-width: 375px;
    h1 {
        font-size: 2.5rem;
    }
    p {
        max-width: 360px;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: -12rem;
    }
  }

  .formBox {
      margin: 0 auto;
      max-width: 375px;
      .form {
          max-width: 375px;
      }
      button {
          max-width: 300px;
      }
      input {
          max-width: 300px;
      }
      .terms {
          max-width: 300px;
          font-size: xx-small;
         
      }
      .banner {
          max-width: 250px;
          height: auto;
          padding-left: 4rem;
          padding-right: 4rem;
          padding-top: 1.5rem;
          padding-bottom: 1.5rem;
          line-height: 1.5;
      }
  }

}